environs==9.5.0  # https://github.com/sloria/environs
pytest           # https://docs.pytest.org/en/7.4.x/
requests>=2.32   # https://docs.python-requests.org/en/latest/

marshmallow<4.0  # Needed for environs to work